<ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Introduction</ids-text>
  </ids-layout-grid>
  <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
    <ids-layout-grid-cell>
      <ids-text type="p">In accounting, a general ledger is used to record a company's ongoing transactions. Within a general ledger, transactional data is organized into assets, liabilities, revenues, expenses, and owner's equity. After each sub-ledger has been closed out, the accountant prepares the trial balance.</ids-text>
    </ids-layout-grid-cell>
  </ids-layout-grid>