<ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Introduction</ids-text>
  </ids-layout-grid>
  <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
    <ids-layout-grid-cell>
      <ids-text type="p">Authentication verifies that a user is who they say they are. Authorization is the process through which an administrator grants rights to authenticated users, and the process of checking user account permissions to verify the user was granted access to those resources.</ids-text>
    </ids-layout-grid-cell>
  </ids-layout-grid>