<ids-container padding="0" hidden>
    <ids-masthead title="Infor Department" icon="logo" role="navigation">
      <section title="end" slot="end">
          <ids-button icon="user"><span class="audible">User Button</span></ids-button>
          <ids-button icon="link"><span class="audible">Disconnect</span></ids-button>
          <ids-button icon="unlink"><span class="audible">Connect</span></ids-button>
      </section>
    </ids-masthead>
    <app-nav></app-nav><!-- this contains also the router outlet-->
</ids-container>
  