<ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Introduction</ids-text>
  </ids-layout-grid>
  <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
    <ids-layout-grid-cell>
      <ids-text type="p">Access control acts as a gatekeeper between a user and the data or resource they want to access. It determines “who” or “what” can access data, information, tools, or even a physical device. Through authentication and authorization, access control serves as a security interface, ensuring that the right person, at the right time, has the right level of access to the right resources.</ids-text>
    </ids-layout-grid-cell>
</ids-layout-grid>